/* Project CSS  */

.square {

    /*position: relative;*/

    /*probably best to use media queries*/
    width: 225px;
    height: 225px;

    border: solid 1px grey;

    background-color: #DEDEDE;

    margin: auto;

}

.item-title {
    z-index: 1;
    text-align: center;
    background-color: #CBCBCD;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.image {
    z-index: 2;
    width: 175px;
    height: 175px;
    margin: auto;
    border: solid 1px grey;
    cursor:pointer;
}


.gallery {
    position: absolute;
    /*probably best to use media queries*/
    width: 90vw;
    height: 90vh;
    margin-left: 5vw;
    margin-right: auto;
    border: solid 1px darkgray;
}

.flex-display {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
