/* Project CSS  */

.square {

    /*probably best to use media queries*/
    width: 225px;
    height: 225px;

    border: solid 1px grey;

    background-color: #DEDEDE;

    margin: auto;

}

.gallery {
    position: absolute;
    /*probably best to use media queries*/
    width: 90vw;
    height: 90vh;
    margin-left: 5vw;
    margin-right: auto;
    border: solid 1px darkgray;
}

.flex-display {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
